/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
*{
  padding: 0rem;
  margin: 0rem;
}
body {
  font-family: sans-serif;
  margin: 0;
  background-color:#FCFDF1;
}

main {
  padding: 2rem;
}
header{
    background-color: #FDC207;
    padding:0;
}
header p {
    color: #5D168F;
}
section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

footer {
  background-color:#5D168F;
  padding: 2rem 0;
}

footer p{
  color:#FDC207;
  margin:0;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
