/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
*{
  padding: 0rem;
  margin: 0rem;
}
body {
  font-family: sans-serif;
  margin: 0;
  background-color:#FCFDF1;
}

/* FONT STUFF FOR HEADERS AND PARAGRAPHS */

h1 {
  font-family: 'Cabin', sans-serif;
  color: #5D168F;
}

h2, h3, h4 {
  font-family: 'HindGuntur', sans-serif;
  color: #5D168F;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #5D168F;
}

ul, ol {
  margin-left: 1.5rem;
  color: #5D168F;
}

/* NAVIGATION BUTTON STYLING */
nav {
    font-family: "Cabin", sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-color: #5D168F;
}

nav a {
    flex: 1;
    padding: 1rem;
    text-decoration: none;
    color: #FDC207;
    text-align: center;
    
    background-color: #5D168F;
    transition: background-color 0.3s, color 0.3s;
}
nav a:hover {
    background-color: #FDC207;
    color: #5D168F;
}

main {
  padding: 2rem;
}
header{
    background-color: #FDC207;
    padding:0;
}
header p {
    color: #5D168F;
}
section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

.product-card {
  background-color: #FDC207;
  display: flex;             
  gap: 16px;                
  align-items: center;     
  padding: 12px;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-info {
  display: grid;
  flex-direction: row;   
  gap: 6px;
}

.checkout-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding: 20px;
}

/* CART */
.cart {
  flex: 2;
  background: #FDC207;
  padding: 1.5rem;
  margin-right: 35rem;
  border-radius: 1rem;
}

.cart-item {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  align-items: center;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.total {
  margin-left: 40rem;
  font-size: 1.5rem;
  font-weight: bold;
}

footer {
  background-color:#5D168F;
  padding: 2rem 0;
}

footer p{
  color:#FDC207;
  margin:0;
  padding-left:1rem;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */

/* FONTS FROM GOOGLE FONTS (learned how to import fonts from Andrew's 235 Class*/
@font-face {
	font-family: "Cabin";
	src: url('fonts/Cabin-VariableFont_wdth,wght.ttf') format('woff2'),
		url('fonts/Cabin-VariableFont_wdth,wght.ttf') format('woff');
	font-display: swap;
}

@font-face {
	font-family: "HindGuntur";
	src: url('fonts/HindGuntur-Regular.ttf') format('woff2'),
		url('fonts/HindGuntur-Regular.ttf') format('woff');
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url('fonts/Roboto-VariableFont_wght,wght.ttf') format('woff2'),
		url('fonts/Roboto-VariableFont_wght,wght.ttf') format('woff');
	font-display: swap;
}